import fs from "node:fs/promises"
import path from "node:path"

export class ReadError extends Error {}

export class Read {
    static async Text(fpath) {
        try {
            const filePath = path.join(fpath); 
            const data = await fs.readFile(filePath, 'utf8');

            return data
        } catch (err) {
            throw new ReadError(err)
        }
    }
}